html,
body {
  font-size: 1.1rem;
}

main {
padding: 3rem 0 0 0;
}

main img {
  display: block;
  align-self: center;
  margin: auto;
  max-width: 200px;
}
.navbar {
  padding: 0;
}
.navbar-nav {
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 0;
}

.nav-icon {
  height: 2.2rem;
}
