html,
body {
  font-size: 1.1rem;
}

main {
  padding: 3rem 0 0 0;
}

main img {
  display: block;
  align-self: center;
  margin: auto;
  max-width: 200px;
}

.bg-body-tertiary {
  background-color: rgb(231, 231, 231)!important;
}

nav span {
  padding-left: 2px;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(4, 79, 54);
}

a.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar {
  padding: 0;
}
.navbar-nav {
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 0;
}

.nav-icon {
  height: 2.2rem;
}
