html,
body {
  font-size: 1.1rem;
}

main {
  padding: 3rem 0;
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

main img {
  display: block;
  align-self: center;
  margin: auto;
}

h2 {
  color: rgb(4, 79, 54);
}

h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: rgb(4, 79, 54);
  text-align: center;
  padding: 10px 12px;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
}

.product-price {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1rem;
  margin: 17px 0;
  text-align: center;
}

.btn {
  background-color: rgba(202, 238, 220, 0.5);
  color: #04341e;
}

.btn-outline-success {
  --bs-btn-active-bg: #146941;
}

.error-image {
  max-width: 200px;
}

.bg-body-tertiary {
  background-color: rgb(231, 231, 231) !important;
}

nav span {
  padding-left: 2px;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(4, 79, 54);
}

a.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar {
  padding: 0;
}
.navbar-nav {
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 0;
}

.nav-icon {
  height: 2.2rem;
}

.products {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: normal;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid rgb(231, 231, 231);
  width: 50%;
  flex-grow: 1;
  align-self: stretch;
  max-width: 300px;
  min-width: 200px;
  max-height: 100%;
  padding-bottom: 1rem;
}
.product-card a {
  text-decoration: none;
  color: rgb(4, 79, 54);
}

.card-image {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.image-link {
  display: block;
  width: 100%;
  overflow: hidden;
}
.card-image:hover,
.card-image:focus,
.card-image:focus-visible {
  transform: scale(1.08);
  overflow: auto;
}
.name-link {
  text-decoration: solid underline transparent;
}

.name-link:hover,
.name-link:focus,
.name-link:focus-visible {
  text-decoration: solid underline rgb(4, 79, 54);
  transition: ease 0.3s;
}

.product-card button {
  display: block;
  margin: auto;
}

.product-main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.product-gallery,
.product-info {
  width: 50%;
  padding: 1rem;
}

.product-gallery img {
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 4rem; */
}

.product-info p {
  text-align: justify;
}

.product-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.product-option-item {
  border: 1px solid grey;
  width: 100px;
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  margin: 0;
  text-align: center;
}

.product-option-item:hover,
.product-option-item:focus {
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.4);
}
.product-option-item:hover {
  cursor: pointer;
}

.product-option-item.active {
  background-color: rgba(255, 184, 154, 0.2);
  border-color: rgb(191, 111, 49);
}

.product-price.left {
  margin-top: 0.5rem;
  padding-left: 30px;
  font-size: 1.3rem;
}

.product-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-controls img {
  height: 2.5rem;
  margin: 0;
  border-radius: 1rem;
}
.product-controls img:hover,
.product-controls img:focus {
  cursor: pointer;
}

.add-to-cart-btngroup {
  display: flex;
}

.quantity-input {
  margin-right: 10px;
}

.add-to-cart-btngroup .btn {
  margin-left: 10px;
}

.quantity-input input {
  width: 50px;
  font-size: 1rem;
  padding: 0.375rem 0.65rem;
  text-align: center;
  border-radius: 0.375rem;
  border-width: 1px;
}

.quantity-input button {
  width: 30px;
  font-size: 1.3rem;
  border: transparent;
  background: transparent;
}

.quantity-input button:hover,
.quantity-input button:focus {
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
.quantity-input input::-webkit-outer-spin-button,
.quantity-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity-input input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

.accordion-item {
  font-size: 1rem;
}

.accordion-button {
  background-color: rgba(231, 231, 231, 0.5);
  --bs-accordion-active-bg: rgb(202, 238, 220);
  --bs-border-color: rgb(64, 64, 64);
  /* --bs-accordion-active-bg: rgba(250, 222, 200, 0.8); */
  --bs-accordion-btn-focus-box-shadow: transparent;
  --bs-accordion-active-color: black;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='%4efdf9' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='%4efdf9' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.product-details span {
  font-weight: bold;
}

.rating-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.rating-img {
  height: 1rem;
  margin: 0 0.8rem 0 0;
}

.empty {
  height: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
  padding: 0;
}

.cart-header {
  display: grid;
  direction: ltr;
  grid-template-columns: 3.7fr 1fr 1fr 1fr 0.5fr;
  justify-items: center;
  background-color: rgb(202, 238, 220);
  padding: 10px 0;
  color: black;
}

.cart-item {
  display: grid;
  direction: ltr;
  grid-template-columns: 0.7fr 3fr 1fr 1fr 1fr 0.5fr;
  justify-items: center;
}

.cart-item-info {
  justify-self: left;
  padding-left: 10px;
}

.cart-item-info p:nth-child(1) {
  font-weight: bold;
  color: rgb(6, 96, 66);
}

.cart-item img {
  padding: 5px 10px 0px 0px;
  width: 100%;
}

.cart-item button {
  padding: 0 8px;
  font-weight: bold;
}

#cart-summary {
  width: 20%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: auto;
}

#cart-summary p {
  font-weight: bold;
}
#cart-summary button {
  width: 100%;
}
#cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
}

.accent-btn {
  background-color: rgba(255, 184, 154, 0.2);
  border-color: rgb(191, 111, 49);
}

.accent-btn:hover,
.accent-btn:focus {
  background-color: rgba(255, 184, 154, 0.6);
  color: black;
  border-color: rgb(191, 111, 49);
}

.btn.accent-btn:active {
  background-color: rgba(255, 184, 154, 0.9);
  color: black;
}
