html,
body {
  font-size: 1.1rem;
}

main {
  padding: 3rem 0;
  width: 80%;
  max-width: 1300px;
  margin: auto;
}

main img {
  display: block;
  align-self: center;
  margin: auto;
}

h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: rgb(4, 79, 54);
  text-align: center;
  padding: 10px 12px;
}



.product-price {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1rem;
  margin: 17px 0;
  text-align: center;
}

.btn-outline-success {
  --bs-btn-active-bg: #146941;
}

.error-image {
  max-width: 200px;
}

.bg-body-tertiary {
  background-color: rgb(231, 231, 231) !important;
}

nav span {
  padding-left: 2px;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(4, 79, 54);
}

a.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar {
  padding: 0;
}
.navbar-nav {
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 0;
}

.nav-icon {
  height: 2.2rem;
}

.products {
  display: flex;
  width: auto;
  /* width: 100%; */
  justify-content: space-between;
  align-items: normal;
  list-style: none;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid rgb(231, 231, 231);
  width: 50%;
  flex-grow: 1;
  align-self: stretch;
  max-width: 300px;
  min-width: 200px;
  max-height: 100%;
  padding-bottom: 1rem;
}

.empty {
  height: 0;
  border-color: transparent;
}

.card-image {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.image-link{
  display: block;
  width: 100%;
  overflow: hidden;
}
.card-image:hover,
.card-image:focus,
.card-image:focus-visible {
  transform: scale(1.08);
  overflow:auto;
}
.name-link {
  text-decoration: solid underline transparent;
}

.name-link:hover,
.name-link:focus,
.name-link:focus-visible {
  text-decoration: solid underline rgb(4, 79, 54);
  transition: ease 0.3s;
}

.product-card button {
  display: block;
  margin: auto;
}
